body {
    background-color: black;
    color: white;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.active {
    color: grey;

}
.inactive {
    color: white;
}